@import "../assets/styles/variables.scss";

.tile {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $background-color;
  .tile__image {
    width: 100%;
  }
  .tile__content {
    width: 100%;
  }

  .tile__title {
    color: $foreground-color-light;
  }
  .tile__tags {
    color: $foreground-color-light;
  }
  .tile__metaText {
    color: $foreground-color-light;
  }

  .tile__description {
    color: $primary-font-color;
  }
}
