@import "../assets/styles/variables.scss";

.tile {
  background-color: $background-color;

  .tile__options {
    background-color: $foreground-color;
    color: $primary-font-color;
  }

  .tile__image {
  }

  .tile__content {
  }

  .tile__title {
    color: $foreground-color-light;
  }

  .tile__metaText {
    color: $foreground-color-light;
  }

  .tile__description {
    color: $primary-font-color;
  }
}
