@import "../assets/styles/variables.scss";

header {
  position: sticky;
  top: 0;
  width: 100%;
  background: #000000; /* fallback colour. Make sure this is just one solid colour. */
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(20, 0, 7, 0.8)),
    url("../assets/background.png");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(20, 0, 7, 0.8)),
    url("../assets/background.png"); /* The least supported option. */
}
.background {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  -webkit-filter: blur(3px);
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
}

.content {
  background-color: #232323;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

input,
textarea {
  width: 100%;
  height: 100%;
  min-height: 30px;
  background-color: $foreground-color;
  padding: 0.5rem !important;
  color: $primary-font-color;
  border: none;
  border-radius: 4px;
  resize: vertical;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $foreground-color-light;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $foreground-color-light;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $foreground-color-light;
  }
  &:focus {
    outline: none !important;
    box-shadow: 0 0 10px $foreground-color-light;
  }
}
