header {
  position: sticky;
  top: 0;
  width: 100%;
  background: #000000; /* fallback colour. Make sure this is just one solid colour. */
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(20, 0, 7, 0.8)),
    url("../assets/background.png");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(20, 0, 7, 0.8)),
    url("../assets/background.png"); /* The least supported option. */
}
.background {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  -webkit-filter: blur(3px);
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
}

.content {
  background-color: #232323;
  padding: 10px;
}

.title {
  font-size: 40px;
  font-weight: 300;
  font-style: Montserrat;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 10rem;
}

.border-bottom {
  border-bottom: 2px solid #424242;
}
