@import "../../assets/styles/variables.scss";

.tab {
  color: $primary-font-color;

  &.active {
    color: $primary-font-color;
    border-bottom: 2px solid $foreground-color-light;
  }
  &:hover {
    background-color: $foreground-color-light;
    color: $background-color;
    border-bottom: 2px solid $primary-color;
  }
}
